body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  background-color: #e6e6e6;
}

.container {
  width: 100%;
}

.nav-link {
  color: black;
}

.justify-content-center {
    justify-content: center!important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}

#star {
    animation: spin 1.5s linear;
}

img {
  margin-top:30px;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-radius: 50%;
  border: 5px solid white;
  width: 80%;
}

.introduction {
  border-radius: 65px;
  text-align: center;
  background-color: #87cefa;
}

.description {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  text-align: left;
  text-justify: inter-word;
}

.info-wrapper {
  margin-top: 30%;
  padding-left: 20%;
}

.info-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.info-table th,
.info-table td {
    padding: 12px 15px;
}

.info-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.info-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.info-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* .info-table tbody tr. */
.active-row {
    font-weight: bold;
    color: #009879;
}

.infoForSmallScreen {
  display: None;
}

@media only screen and (max-width: 700px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

  tr { border: 1px solid #ccc; }

  td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

  .info-wrapper {
    margin-top: 10%;
    padding-left: 0;
  }
}

/* @media only screen and (max-width: 480px) {
  .introduction {
    margin-left: 3%;
  }
} */
