body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  background-image: url("images/background1.jpg");
  background-repeat: cover;
  background-position: left;
}

.container {
  width: 100%;
}

.nav-link {
  color: black;
}

.justify-content-center {
    justify-content: center!important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}

#star {
    animation: spin 1.5s linear;
}

img {
  margin-top:10%;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-radius: 50%;
  border: 5px solid white;
  width: 80%;
}

.introduction {
  border-radius: 65px;
  text-align: center;
  background-color: #87cefa;
}

.description {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  text-align: left;
  text-justify: inter-word;
}

.info-wrapper {
  margin-top: 10%;
  padding-left: 15%;
  overflow: hidden;
}

.info-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.info-table th,
.info-table td {
    padding: 12px 15px;
}

.info-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.info-table tbody tr:nth-of-type(odd) {
    background-color: #e6e6e6;
}

.info-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

	table, thead, tbody, th, td, tr {
		display: block;
	}

  tr { border: 1px solid #ccc; }

  td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

.active-row {
    font-weight: bold;
    color: #009879;
}

.infoForSmallScreen {
  display: None;
}

#sectional_nav {
  display: none;
}

#statsPic {
  box-sizing: border-box;
  border-radius: 50%;
  border: 5px solid #009879;
  margin-left: 10%
}

#bottom {
  height: 40px;
  margin-top: 40px;
}

.blogTitle {
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
}

.blogTitle:Hover {
  text-decoration: underline;
}

.blogText {
  margin-top: 20px;
}

.youtubeVid {
  width: 560px;
  height: 315px;
  padding-top:15px;
  display: block;
  margin: 0 auto;
}

.blogImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 0;
  border: 0;
  margin-top: 30px;
}

#allBlogs {
  display: none;
  font-style: italic;
}

#allBlogs:hover {
  text-decoration: underline;
  color: blue;
}

@media only screen and (max-width: 1000px) {

  body {
    background-image: url("images/background2.jpg");
  }

  .info-wrapper {
    margin-top: 10%;
    padding-left: 0;
  }

  .youtubeVid {
    height: 45vw;
    width: 80vw;
  }

  #allBlogs {
    justify-content: center;
  }
}

@media only screen and (max-width: 480px) {

  .info-wrapper {
    overflow: hidden;
  }

  .nav {
    display: none;
  }

  #sectional_nav {
    display: flex;
    background-color:#202020;
    color:#e6e6e6;
  }
}

#bday {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10%;
  font-weight: bold;
}
